body{
    background-color: rgb(212, 210, 210);
}

#head-img{
    border-radius: 15px;
}

.fs-4{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    text-decoration: none;
    font-display: swap ;
    color: seagreen;

}
.nav{
    display: flex;
    color: blueviolet;
    list-style: none;
    justify-content: space-evenly;
}

.nav li a{
    text-decoration: none;
    color:seagreen;
    font-weight: bold;
    font-size: large;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow:tomato;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav li a:hover{
    color:rgb(255, 0, 0);
}

.skills{
    
}

#form1{
    border-radius: 5px;
}
